<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
    <link rel="icon" href="https://img.icons8.com/?size=512&id=r9BTjhlYHBXm&format=png">


    <!-- Header and Footer styling -->
    <link rel="stylesheet" href="/css/headerANDfooter.css">
    <link rel="stylesheet" href="/css/styleShow.css">
    <link rel="stylesheet" href="/css/rating.css">
    <!-- Bootstrap inclusion -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">


    <!-- Custom Font-Awesome CDN include-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="https://api.mapbox.com/mapbox-gl-js/v3.9.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.9.0/mapbox-gl.js"></script>
</head>
<body>
    <%- include("../includes/navbar.ejs") %>

    <script>
        const mapToken = "<%= process.env.MAP_TOKEN %>";
        const listing = <%- JSON.stringify(list) %>;
    </script>

    <div class="container">
        <%- include("../includes/flash.ejs") %>
        <div class="heading">
            <h3 class="lead"> <b><%= list.title %></b> </h3>
        </div>
        <br>
        <div class="card">
            <img src="<%= list.image.url %>" class="card-img-top" alt="<%=list.title%>"> <br>
            <div class="card-body">
              <p class="card-text">
                Owned by <i>  <%= list.owner.username %></i> <br><br> 
                <%= list.description %> <br><br> <!-- Double <br> change is made here -->
                &#8377;<%= list.price.toLocaleString("en-IN") %> / night <br><br>
                <%= list.location %> <br><br>
                <%= list.country %>
              </p>
            </div>
        </div>
        <br>
        <% if( currUser && list.owner._id.equals(currUser._id)) { %>
            <div class="btns">
                <form action="http://localhost:3000/listings/<%= list._id %>/edit">
                    <button class="btn btn-success" type="submit">Edit</button>
                </form>
        
                <form method="post" action="http://localhost:3000/listings/<%= list._id %>?_method=DELETE">
                    <button class="btn btn-danger" type="submit">Delete</i></button>
                </form>
            </div>
        <% } %>

        <% if(list.reviews.length > 0) { %>
            <div class="showReviews">
                <hr>
                <div class="reviewHeadingContainer">
                    <b><p class="reviewHeading">All reviews</p></b> 
                </div>
                <div class="allReviews">
                    <% for(let review of list.reviews) { %>
                        <div class="card reviewCard">
                            <div class="card-body">
                                <h6 class="card-title"> <i>@<%= review.author.username %></i> </h6>
                                <p class="starability-result card-text" data-rating="<%= review.rating %>"></p>
                                <p class="card-text">
                                    <%= review.comment %>
                                </p>
                                <% if(currUser && review.author._id.equals(currUser._id)) { %>
                                    <form action="http://localhost:3000/listings/<%= list._id %>/reviews/<%= review._id%>?_method=DELETE" method="post">
                                        <button type="submit" class="btn btn-sm btn-outline-danger">Delete review</button>
                                    </form>
                                <% } %>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        <% } %>

        <div class="displayMap">
            <hr>
            <h4>Where you'll be</h4>
            <div id="map"></div>
            <br>
            <hr>
        </div>

        <% if(currUser) { %>
            <div class="feedback mt-4">
                <div class="feedbackHeadingContainer">
                    <p class="feedbackHeading">Leave a review</p>
                </div>
                <form action="http://localhost:3000/listings/<%=list._id%>/reviews" method="post" novalidate class="needs-validation">
                    <div>
                        <label class="form-label" for="rating">Rating⭐</label>
                        <fieldset class="starability-growRotate ratingStyle">
                            <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="1" checked aria-label="No rating." />
                            <input type="radio" id="first-rate1" name="rating" value="1" />
                            <label for="first-rate1" title="Terrible">1 star</label>
                            <input type="radio" id="first-rate2" name="rating" value="2" />
                            <label for="first-rate2" title="Not good">2 stars</label>
                            <input type="radio" id="first-rate3" name="rating" value="3" />
                            <label for="first-rate3" title="Average">3 stars</label>
                            <input type="radio" id="first-rate4" name="rating" value="4" />
                            <label for="first-rate4" title="Very good">4 stars</label>
                            <input type="radio" id="first-rate5" name="rating" value="5" />
                            <label for="first-rate5" title="Amazing">5 stars</label>
                          </fieldset>

                    </div>
                    <div class="form-floating">
                        <textarea class="form-control feedbackText" name="comment" placeholder="Leave a comment here" id="floatingTextarea2" required></textarea>
                        <label class="form-label" for="floatingTextarea2">Write a review</label>
                        <div class="valid-feedback">
                            Review looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please enter a review.
                          </div>
                    </div>
                    <div class="mt-3 feedbackBtn">
                        <button class="btn btn-outline-info" type="submit">Submit review</button>
                    </div>
                </form>
            </div>
        <% } %>
    </div>


    <%- include("../includes/footer.ejs") %>
    <!-- Bootstrap JS include-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="/js/script.js"></script>
    <script src="/js/map.js"></script>
</body>
</html>